html, body, div, p, img, dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    border: 0
}
img {
    border: 0;
    vertical-align: top
}
ul {
    list-style: none
}
i, em, strong {
    font-style: normal;
    text-decoration: none;
    font-weight: normal
}
body {
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'simsun';
    font-size: 14px;
    background: #f3f3f3;
    color: #323232
}
a {
    color: #353535;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}
a:hover {
    color: #f60;
    text-decoration: none
}
.gLeft {
    width: 766px;
    overflow: hidden;
    float: left
}
.gRight {
    width: 373px;
    overflow: hidden;
    float: right
}
.logoBoxFull {
    min-width: 1180px;
    height: 96px;
    overflow: hidden;
    background: #fff
}
.logoBoxFull .logoBox {
    height: 96px;
    width: 1160px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    position: relative
}
.logoBoxFull .logoBox .logo {
    width: 282px;
    height: 63px;
    background: url("../images/logo.png") no-repeat;
    overflow: hidden;
    display: block;
    margin: 25px auto 0;
    outline: none
}
.p_nav {
    min-width: 1180px;
    height: 54px;
    background: #fff
}
.p_nav .box {
    width: 1160px;
    overflow: hidden;
    margin: 0 auto;
    position: relative
}
.p_nav .box .l {
    width: 1000px;
    padding-left: 20px;
    overflow: hidden;
    height: 54px;
    line-height: 54px;
    font-size: 20px;
    color: #232323
}
.p_nav .box .l a {
    color: #232323;
    margin-right: 28px;
    display: block;
    height: 50px;
    float: left;
    border-bottom: 4px solid #fff
}
.p_nav .box .l a.on {
    color: #ff5400;
    border-bottom-color: #ff5400;
    font-weight: bold
}
.p_nav .box .l a:hover {
    color: #f60
}
.p_nav .box a:hover {
    color: #f60 !important;
    transition: color .2s ease-in-out
}
.g-point {
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    width: 30px;
    height: 4px;
    background: #989898
}
.g-point.on {
    background: #ff5400
}
.fFocus {
    height: 540px;
    min-width: 1180px;
    overflow: hidden;
    background: #2c2c2c
}
.fFocus .mask {
    width: 1180px;
    height: 540px;
    overflow: hidden;
    margin: 0 auto;
    position: relative
}
.fFocus .focus {
    width: 100%;
    height: 100%
}
.fFocus .item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    z-index: 1
}
.fFocus .tit {
    width: 1180px;
    height: 114px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding-top: 36px;
    background: url("../images/foucs_tit_bg.png") repeat-x left bottom
}
.fFocus .tit dt, .fFocus .tit dd {
    width: 1100px;
    height: 46px;
    line-height: 44px;
    overflow: hidden;
    margin: 0 auto 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 38px;
    font-weight: bold;
    transition: color .2s ease-in-out
}
.fFocus .tit dd {
    height: 30px;
    line-height: 30px;
    font-size: 21px;
    font-weight: normal
}
.fFocus a {
    color: #fff
}
.fFocus .left, .fFocus .right {
    width: 30px;
    height: 57px;
    display: block;
    overflow: hidden;
    background: url("../images/foucs_icon.png") no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    z-index: 99;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease
}
.fFocus .left {
    left: -30px;
    background-position: 0 0
}
.fFocus .left:hover {
    background-position: 0 -57px
}
.fFocus .right {
    right: -30px;
    background-position: right 0
}
.fFocus .right:hover {
    background-position: right -57px
}
.linefb {
    min-width: 1180px;
    height: 40px;
    overflow: hidden;
    background: #f3f3f3
}
.g-box {
    width: 1160px;
    padding: 0 10px;
    overflow: hidden;
    margin: 0 auto;
    background: #f3f3f3
}
.g-content {
    width: 1160px;
    overflow: hidden;
    margin-bottom: 40px
}
.g-content .m-content {
    width: 1160px;
    overflow: hidden;
    margin-bottom: 30px
}
.g-title {
    width: 1160px;
    overflow: hidden;
    height: 85px;
    margin: 40px 0 0
}
.g-title .title {
    height: 38px;
    background: url("../images/line-black.png") repeat-x left 18px;
    width: 526px;
    margin: 0 auto 10px
}
.g-title .title strong {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    height: 38px;
    width: 374px;
    background-color: #f3f3f3
}
.g-title .title strong.star {
    background-image: url("../images/s1.png");
    background-repeat: no-repeat;
}
.g-title .title strong.plaything-t {
    background-image: url("../images/p1.png");
    background-repeat: no-repeat;
}
.g-title .title strong.lohas-t {
    background-image: url("../images/l1.png");
    background-repeat: no-repeat;
}
.g-title .title strong a {
    display: block;
    height: 38px;
    width: 374px;
    float: left;
    overflow: hidden;
    text-indent: -550px
}
.g-title .links {
    text-align: center;
    padding: 3px 0 0;
    color: #b5b5b5
}
.g-title .links a {
    padding: 0 10px;
    color: #5d5d5d
}
.g-title .links a:hover {
    color: #f60
}
.g-focus {
    position: relative;
    z-index: 1;
    overflow: hidden
}
.g-focus .foucs {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1
}
.g-focus .foucs .item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0
}
.g-focus .point {
    position: absolute;
    right: 20px;
    bottom: 16px;
    text-align: right;
    float: right;
    z-index: 2
}
.public_footer .fb {
    min-height: 247px;
    overflow: hidden;
    background: #000;
    min-width: 1180px;
    font-weight: normal
}
.public_footer .fb .main {
    width: 1160px;
    /*height:247px;*/
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 30px;
}
.public_footer .fb .main .menu {
    width: 1160px;
    padding-top: 18px;
    overflow: hidden
}
.public_footer .fb .main .menu dt {
    width: 348px;
    height: 61px;
    float: left;
    overflow: hidden
}
.public_footer .fb .main .menu dd {
    width: 812px;
    height: 50px;
    float: left;
    overflow: hidden;
    padding-top: 10px
}
.public_footer .fb .main .menu dd a {
    font-size: 16px;
    color: #bebebe;
    margin: 0 26px
}
.public_footer .fb .main .menu dd a:hover {
    color: #f60
}
.public_footer .fb .main .address {
    width: 1168px;
    overflow: hidden;
    padding-top: 24px;
    font-size: 14px
}
.public_footer .fb .main .address p {
    overflow: hidden;
    text-align: center;
    color: #595959;
    line-height: 30px
}
.public_footer .fb .main .address p a {
    color: #595959
}
.public_footer .fb .main .address p a:hover {
    color: #f60
}
.public_footer a:hover {
    color: #f60 !important;
    transition: color .2s ease-in-out
}
.g-imgText {
    width: 373px;
    height: 280px;
    overflow: hidden;
    position: relative
}
.g-imgText img {
    width: 100%
}
.g-imgText em {
    display: block;
    width: 333px;
    padding: 0 20px;
    height: 74px;
    background: url("../images/gradient_bg.png");
    _background: #000;
    _filter: alpha(opacity=70);
    line-height: 90px;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px
}
.g-imgText a {
    color: #fff
}
.g-imgText a:hover {
    color: #f60
}
.listFocus {
    width: 766px;
    height: 420px;
    overflow: hidden
}
.listFocus .item .tit {
    width: 480px;
    height: 76px;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -260px;
    line-height: 76px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    color: #fff;
    font-weight: bold
}
.listFocus .item a:hover .tit {
    color: #f60
}
.margB {
    margin-bottom: 30px
}
.g-list {
    width: 373px;
    height: 395px;
    overflow: hidden;
    background: #fff;
    float: left
}
.g-list img {
    width: 100%
}
.g-list .img {
    width: 373px;
    height: 300px;
    overflow: hidden;
    position: relative
}
.g-list .tit {
    width: 320px;
    height: 52px;
    overflow: hidden;
    line-height: 26px;
    margin: 16px auto 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold
}
body {
    background: #f3f3f3
}
.g-list {
    width: 373px;
    height: 380px;
    overflow: hidden;
    background: #fff;
    float: left
}
.g-list img {
    width: 100%
}
.g-list .img {
    width: 373px;
    height: 280px;
    overflow: hidden
}
.g-list .tit {
    width: 320px;
    height: 52px;
    overflow: hidden;
    line-height: 26px;
    margin: 16px auto 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold
}
.top_l {
    width: 373px;
    overflow: hidden;
    float: left
}
.top_l .g-imgText {
    margin-bottom: 20px
}
.top_r {
    width: 373px;
    overflow: hidden;
    float: right
}
.top_b {
    width: 786px;
    height: 300px;
    background: #fff;
    overflow: hidden
}
.fs_todayHot {
    width: 330px;
    padding: 0 21px 0 22px;
    overflow: hidden;
    background: #fff;
}
.fs_todayHot .tit {
    height: 40px;
    border-bottom: 1px solid #222222;
    font-size: 18px;
    position: relative;
    margin-bottom: 13px;
}
.fs_todayHot .tit span {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    background: #222222;
    color: #fff;
    display: block;
}
.fs_todayHot .tit i {
    margin: 0 0 0 -10px;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    left: 50%;
    bottom: -21px;
    border: 10px solid;
    border-color: #222222 #fff #fff #fff;
}
.fs_todayHot .hotText {
    width: 330px;
    overflow: hidden;
    margin-bottom: 7px;
}
.fs_todayHot .hotText div {
    width: 330px;
    height: 46px;
    background: url(../images/today.png) no-repeat center bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    padding: 14px 0 0;
}
.fashList {
    width: 786px;
    overflow: hidden
}
.fashList .g-list {
    margin: 0 20px 20px 0
}
.fashList.h1 {
    height: 380px
}
.btyNew {
    width: 320px;
    height: 340px;
    overflow: hidden;
    background: #f6f6f6;
    margin: 0 auto
}
.btyNew ul {
    padding: 10px 20px;
}
.btyNew li {
    line-height: 36px;
    height: 36px;
    overflow: hidden;
}
.plaything {
    width: 373px;
    height: 826px;
    border-top: 3px solid #998632;
    background: #fff
}
.lohas {
    width: 373px;
    height: 826px;
    border-top: 3px solid #ffbbcd;
    background: #fff
}
.lohas .tit {
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 20px;
    background: #ffbbcd;
    color: #fff;
    font-size: 18px
}
.plaything .tit {
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 20px;
    background: #998632;
    color: #fff;
    font-size: 18px
}
.plaything .lists, .lohas .lists {
    width: 314px;
    overflow: hidden;
    margin: 0 auto 18px
}
.plaything .lists dl, .lohas .lists dl {
    width: 314px;
    height: 105px;
    overflow: hidden;
    margin-bottom: 20px
}
.plaything .lists dl.c1 dt, .lohas .lists dl.c1 dt {
    border-right-color: #fb9ec8
}
.plaything .lists dl.c2 dt, .lohas .lists dl.c2 dt {
    border-right-color: #ffd1b6
}
.plaything .lists dl.c3 dt, .lohas .lists dl.c3 dt {
    border-right-color: #649de3
}
.plaything .lists dt, .lohas .lists dt {
    width: 158px;
    height: 105px;
    overflow: hidden;
    border-right: 2px solid #ffbbcd;
    float: left
}
.plaything .lists dd, .lohas .lists dd {
    width: 138px;
    float: right;
    padding-top: 8px
}
.plaything .lists dd strong, .lohas .lists dd strong {
    display: block;
    width: 138px;
    line-height: 26px;
    min-height: 52px;
    max-height: 78px;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 14px;
    word-break: break-all;
    word-wrap: break-word
}
.topList {
    width: 373px;
    height: 830px;
    overflow: hidden;
    background: #fff
}
.topList .tit {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #444;
    position: relative;
    margin: 10px auto 0;
    font-weight: bold;
    background: #fff
}
.topList .tit .line {
    width: 373px;
    height: 22px;
    border-bottom: 1px solid #e2e2e2;
    position: absolute;
    left: 0;
    top: 0
}
.topList .tit span {
    display: inline-block;
    background: #fff;
    height: 44px;
    position: relative;
    padding: 0 10px
}
.topList .box {
    width: 314px;
    overflow: hidden;
    background: url("../images/toplist.png") no-repeat 0 24px;
    margin: 0 auto;
    margin-top: -1px
}
.topList .box .list {
    width: 276px;
    height: 44px;
    overflow: hidden;
    border-top: 1px dashed #e5e5e5;
    line-height: 22px;
    font-size: 16px;
    padding-top: 14px;
    padding-left: 38px;
    margin-bottom: 10px
}
.focusPic1 .left_btn, .focusPic1 .right_btn {
    background: url(../images/zy.png) no-repeat;
}
.focusPic1 {
    position: relative;
    margin-top: 10px;
    zoom: 1;
}
.focusPic1 .left_btn, .focusPic1 .right_btn {
    width: 26px;
    height: 38px;
    position: absolute;
    display: inline;
    z-index: 100;
}
.focusPic1 .left_btn {
    background-position: 0 0;
    left: 10px;
    top: 48%;
    margin-top: -19px;
}
.focusPic1 .right_btn {
    background-position: -26px -0;
    right: 15px;
    top: 48%;
    margin-top: -13px;
}
.focusPic1 .play2 {
    width: 100%;
    padding: 14px 0 5px 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.focusPic1 .play2 ul li {
    width: 180px;
    height: 240px;
    float: left;
    display: inline;
    margin-right: 20px;
}
.focusPic1 .play2 ul li a.play2_img {
    width: 180px;
    height: 240px;
    border: none;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1px;
    display: block;
    overflow: hidden;
    *display:block;
    *font-size:104px;
    *font-family:Arial;
}
.focusPic1 .play2 ul li a.play2_img img {
    vertical-align: middle;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.focusPic1 .play2 ul li a.play2_img:hover {
    background: #F4F0EF;
    border: 1px solid #E5E5E5;
}
.focusPic1 .play2 ul li a.play2_img span {
    position: absolute;
    width: 156px;
    height: 23px;
    text-align: center;
    color: #cccccc;
    filter: alpha(opacity = 80);
    opacity: 0.8;
    line-height: 23px;
    bottom: 2px;
    overflow: hidden;
    left: 2px;
    background: #000000;
    font-size: 14px;
}
.focusPic1 .play2 ul li a {
    display: block;
    width: 162px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
}
.focusPic1 .play2 ul li a.play2_img span.nima-title, .focusPic1 .play2 ul li a.play2_img span.nima-bg {
    width: 180px;
    padding-left: 4px;
    left: 1px;
    bottom: 1px;
    z-index: 10;
}
.focusPic1 .play2 ul li a.play2_img .nima-title {
    background: none;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 11;
    text-align: left;
    overflow: hidden;
}
.focusPic1 .play2 ul li a.play2_img span.nima-bg {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.play2 ul li a.play2_img:hover {
    text-decoration: none
}
.nima-title {
    text-align: center!important;
}
.flink {
    color: #bebebe;
    padding: 60px 30px 0 30px;
}
.flink a {
    color: #bebebe;
    padding: 0 5px;
}
/*pages*/ .pagination-wrapper {
              margin: 20px 0;
          }
.pagination {
    height: 34px;
    text-align: center;
}
.pagination li {
    display: inline-block;
    height: 34px;
    margin-right: 5px;
}
.pagination li a {
    float: left;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid #dddddd;
    color: #555555;
    text-decoration: none;
}
.pagination li a:hover {
    background: #f5f5f5;
    color: #0099ff;
}
.pagination li.thisclass {
    background: #000;
    color: #fff;
}
.pagination li.thisclass a, .pagination li.thisclass a:hover {
    background: transparent;
    border-color: #000;
    color: #fff;
    cursor: default;
}

/*AB模版网新增翻页样式 各类模版第一站 www.adminbuy.cn*/
.pagess {clear: both;margin: 20px;overflow: hidden;margin-left: 0px;text-align: center;font-size:12px}
.pagess ul li { display:inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;line-height: 20px;background: #fff;color:#999}
.pagess ul li:hover{ background:#ccc; color:#fff;border: 1px solid #ccc}
.pagess ul li:hover a{color:#fff;}
.pagess ul li.thisclass {display: inline-block;border: 1px solid #ccc;padding: 2px 9px;margin: 0 3px;background: #ccc;color: #fff;}
.pagess ul li.thisclass a {color: #fff;}
.pagess ul li a{ display:block;color:#999}
.pagess ul li a:hover {color: #fff;}