/* AB模版网 做最好的织梦整站模板下载网站 Www.AdminBuy.Cn */
/* QQ：9490489 */
/* 仿站：Fang.AdminBuy.Cn */
/* 素材：Sc.AdminBuy.Cn */
.fFocus .point {
    position: absolute;
    right: 50%;
    margin-right: -560px;
    bottom: 16px;
    text-align: right;
    float: right;
    z-index: 2;
}
.focusPic1 .left_btn, .focusPic1 .right_btn {
    background: url(../images/zy.png) no-repeat;
}
.focusPic1 {
    position: relative;
    margin-top: 10px;
    zoom: 1;
}
.focusPic1 .left_btn, .focusPic1 .right_btn {
    width: 26px;
    height: 38px;
    position: absolute;
    display: inline;
    z-index: 100;
}
.focusPic1 .left_btn {
    background-position: 0 0;
    left: 10px;
    top: 48%;
    margin-top: -19px;
}
.focusPic1 .right_btn {
    background-position: -26px -0;
    right: 15px;
    top: 48%;
    margin-top: -13px;
}
.focusPic1 .play2 {
    width: 100%;
    padding: 14px 0 5px 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.focusPic1 .play2 ul li {
    width: 180px;
    height: 240px;
    float: left;
    display: inline;
    margin-right: 20px;
}
.focusPic1 .play2 ul li a.play2_img {
    width: 180px;
    height: 240px;
    border: none;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1px;
    display: block;
    overflow: hidden;
    *display:block;
    *font-size:104px;
    *font-family:Arial;
}
.focusPic1 .play2 ul li a.play2_img img {
    vertical-align: middle;
    width: 180px!important;
    height: 240px!important;
    margin: 0 auto;
}
.focusPic1 .play2 ul li a.play2_img:hover {
    background: #F4F0EF;
    border: 1px solid #E5E5E5;
}
.focusPic1 .play2 ul li a.play2_img span {
    position: absolute;
    width: 156px;
    height: 23px;
    text-align: center;
    color: #cccccc;
    filter: alpha(opacity = 80);
    opacity: 0.8;
    line-height: 23px;
    bottom: 2px;
    overflow: hidden;
    left: 2px;
    background: #000000;
    font-size: 14px;
}
.focusPic1 .play2 ul li a {
    display: block;
    width: 162px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
}
.focusPic1 .play2 ul li a.play2_img span.nima-title, .focusPic1 .play2 ul li a.play2_img span.nima-bg {
    width: 180px;
    padding-left: 4px;
    left: 1px;
    bottom: 1px;
    z-index: 10;
}
.focusPic1 .play2 ul li a.play2_img .nima-title {
    background: none;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 11;
    text-align: left;
    overflow: hidden;
}
.focusPic1 .play2 ul li a.play2_img span.nima-bg {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.play2 ul li a.play2_img:hover {
    text-decoration: none
}